
@{ ViewBag.Title = "Index"; }


<div id="login">
    <h1 class="card-header text-center">Autenticacion de Usuario</h1>

    <div class="row-cols-md-1">
        <div class="card-header">Acceso al Sistema</div>
        <div class="card-body">
            @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
            {
<div class="form-group">
    <label>Usuario:</label>
    <input type="text" name="Usuario" class="form-control" placeholder="Ingrese su usuario" />
</div>

                <div class="form-group">
                    <label>Clave:</label>
                    <input type="text" name="Password" class="form-control" placeholder="Ingrese su clave" />
                </div>
                                <div>
                                    <div class="form-group">
                                        <label>Ingresar como:</label>
                                        <select class="form-control" name="tipo">
                                            @*<option value="1">Administrador</option>*@
                                            <option value="1">Paciente</option>
                                            <option value="2">Medico</option>
                                        </select>
                                    </div>
                                </div>
                                                <div class="text-right">
                                                    <button data-ajax="true" type="submit" class="btn btn-primary">Ingresar</button>
                                                </div>            }
        </div>
    </div>
</div>
